<!DOCTYPE html>
<head>
    <style>
        .div-1{
            border-radius: 20px;
            width: 70%;
            height: 400px;
            margin: 50px auto;
            background: linear-gradient(45deg, rgb(255, 223, 127), rgb(184, 77, 77))
        }
        .div-2{
            border-radius: 20px;
            width: 70%;
            height: 400px;
            margin: 50px auto;
            background: linear-gradient(45deg, rgb(127, 255, 253), rgb(141, 255, 158))
        }
    </style>    
</head>

<body>
    <div class="div-1"></div>
    <div class="div-2"></div>
</body>
  